
body{
	 background: linear-gradient(#9cd7db,#f6cac9,rgba(255,255,0,0.62));
	 

}

div.hammenu{
	background: #fff;
	position: fixed;
	z-index: 500;
	top:90px;
	left: -126px;
	text-align: center;
	border: 3px solid #999;
	transition: 0.5s;

}

.hamburger{
	margin-top:10px;
	text-align: right;
	display: none;
}

.glyphicon-menu-hamburger:hover{
	color:#e5097f;
	cursor: pointer;
}



.header{
	width: 100%;
	position: fixed;
	left: 0;
	top:0;
	z-index: 500;
	transition: top 1s;
}

.down{
	top: -40px;
}

.header-contacts{
	background: #eaebec;
	min-height: 40px;
	width: 100%;
	position: absolute;
	top:0;
}

.header-contacts div.telephone-numbers{
	text-align: right;
	padding-right: 0;
}
div.priceHolder{
	padding-top: 3px;
	padding-right: 175px;
}

#action{
	text-align: center;
	background: #eaebec;
	min-height: 60px;
}
#action h2{
	margin-top: 0;
	color: #e5097f;
}
.header-contacts div.telephone-numbers ul.nav li{
	padding:10px 5px;
	display: inline-block;
}
.priceHolder{
	text-align: right;
}
button.price{
	background: #00a0e3;
	border-color: transparent;
	border-radius: 0;
	padding: 
}
.header-nav{
	background: #fff;
	min-height: 90px;
	width: 100%;
	position: absolute;
	top:40px;
	transition: top 1s;
	box-shadow: 0 3px 10px rgba(0,0,0,0.3);
}

.header-nav div.logo{
	text-align: center;
}

.header-nav div.logo div{
	display: inline-block;
	margin-top: -3px;
}

.header-nav div.logo div:nth-child(1){
	vertical-align: bottom;
}

.header-nav div.logo div:nth-child(2){
	text-align: left;
}

.header-nav div.links{
	margin-top:15px;
}

ul.nav{
	margin-top: auto 0;
}

.header-nav ul.nav li{
	display: inline-block;
}

.header-nav ul.nav li a{
	color: #333;
	padding: 10px 30px;
	border-bottom: 3px solid #e5097f;
}

.hammenu ul.nav li a{
	color: #333;
	border-bottom: 3px solid #e5097f;
}
.lp-ariadna-section{
	border: 1px solid #999;
	padding-top: 15px;
	padding-bottom: 15px;
	max-width: 960px; 
	margin: 0 auto;
	background: #fff;
	min-height: 500px;
}

.lp-ariadna-section[id="main"]{
	margin-top: 130px;
	min-height: 550px;
}
section{
	padding: 30px;
}

section[id="production"] h2,
section[id="contacts"] h2{
	text-align: center;
}

section[id="production"] div.productionItem{
	width: 285px;
	height: 285px;
	margin: 0;
	display: inline-block;
	background: rgba(255, 255, 255, 0.5);
	position: relative;
	border: 3px solid #999;
	text-align: center;
	padding: 40px 15px;
	left: 0;
	transition:  0.5s;
	top: 0;
	
}
section[id="production"] div.productionItem:hover{
	background: rgba(255, 255, 255, 0);
}

.backgroundImage{
	display: inline-block;
	margin-bottom: 5px;
	width: 285px;
	height: 285px;
	background-image: url('/img/fada.png');
	
}

section[id="production"] div.productionItem h3{
	font-weight: bold;
}

section[id="contacts"]{
		min-height: 550px;
}

#map{
	height: 400px;
	width: 400px;
	border: 3px solid #999;
}
@media screen and (max-width: 980px) {
    div.linksTop{
    	display: none;
    }
    div.logo{
    	font-size: 11px;
    }
    .hamburger{
    	display: block;
    }
    .priceHolder{
    	display: none;
    }
       
}


@media screen and (min-width: 980px){
	.hammenu{
		display: none;
	}
}